@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1, h2{
    font-family: "Racing Sans One";
}

h3, h4{
    font-family: "Poppins";
}

p{
    font-family: "Poppins";
}

.main-message{
    grid-column: 1/4;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 60px;
}

.main-message h2{
    font-size: 2em;
    color: #8C2020;
}

.main-message h3{
    font-size: 1.3em;
    line-height: 40px;
}

.points{
    background-color: #0D0D0D;
    color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -10px;
    margin-right: -10px;
    grid-column: 1/4;
    margin-top: 80px;
}

.why{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.why h2{
    grid-column: 1/3;
}

.why p{
    grid-column: 1/2;
    padding-right: 30px;
}

img.why-img{
    grid-column: 2/3;
    width: 100%;
    margin-top: -240px;
}

.ourfitfam {
    padding-top: 50px;
}

.button-box{
    background-color: white;
    color: #8C2020;
    font-family: "Racing Sans One";
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    transition-duration: 0.2s;
}

.button-box:hover{
    background-color: #8C2020;
    color: white;
}

.button-box:hover a:visited{
    color: white;
}

.button-box a:visited{
    color:#8C2020;
}

a.join{
    text-decoration: none;
    color:#8C2020;
}

header{
    font-family: "Racing Sans One";
    margin-bottom: 50px;
    margin-top: -40px;
}

img.logo{
    width: 30%;
    margin-left: -40px;
}

nav{
    text-align: right;
    margin-top: -180px;
    font-size: 1.4em;
    padding-right: 40px;
}

nav .button-box{
    background-color: #0D0D0D;
    color: white;
}

nav .button-box:hover{
    background-color:#0D0D0D;
    color: white;
}

nav .button-box a:visited{
    color: white;
}

nav a:hover{
    color:#0D0D0D;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color:#8C2020;
}

#top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.top-img{
    width: 102%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-left:-10px;
    margin-right:-10px;
}

#top h4{
    grid-column: 1/3;
    grid-row: 1/2;
    color: white;
    font-size: 2.5em;
    margin-left: 100px;
    padding-top: 100px;
}

#top .button-box{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 180px;
    height: 40px;
    margin-left: 100px;
    font-size: 1.8em;
    margin-top: -60px;
}

footer{
    background-color: white;
    color:#0D0D0D;
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color:#0D0D0D;
    text-decoration: none;
    font-family: "Poppins";
}

footer a:hover{
    color:#BF3030;
}

.top-message{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0D0D0D;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
}

.top-message h2{
    padding-left: 60px;
    font-size: 2.5em;
    margin-top: 100px;
    grid-column: 1/2;
}

.top-message h4{
    padding-left: 60px;
    line-height: 30px;
    grid-column: 1/2;
}

.top-message h3{
    padding-left: 60px;
    grid-column: 1/2;
}
.plans-img{
    grid-column: 2/3;
    width: 60%;
    padding: 20px;
    margin-left: 150px;
    margin-top: -315px;
}

.free{
    background: #8C2020;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    margin-top: 20px;
    line-height: 30px;
}

.free h2{
    font-size: 1.8em;
}

.free-trial{
    color:#0D0D0D;
    font-size: 1.2em;
}

.free a:hover{
    color: white;
}

.plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
}

.plans section{
    margin: 15px;
    background-color:#0D0D0D;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.plans h2{
    font-size: 1.8em;
}

.basic-bottom{
    margin-top: 260px;
}

.premium-bottom{
    margin-top: 170px;
}

.select-button{
    background-color: white;
    color: #8C2020;
    font-family: "Racing Sans One";
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    transition-duration: 0.2s;
}

.select-button a{
    color:#8C2020;
    text-decoration: none;
}

.select-button:hover{
    background-color:#8C2020;
}

.select-button a:hover{
    color: white;
}

.select-button a:visited{
    color:#0D0D0D;
}

.amenities h2{
    font-size: 3em;
    padding: 50px;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0D0D0D;
    color: white;
    padding: 50px;
}

img.intro-img{
    width: 50%;
    grid-column: 2/3;
    margin-left: 200px;
    margin-top: -130px;
}

.intro h3, p{
    grid-column: 1/2;
}

.intro h3{
    font-size: 1.8em;
}

.intro p{
    line-height: 40px;
}

ul{
    font-family: "Poppins";
}

.list-amenities{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.sec1, .sec3{
    line-height: 40px;
    padding: 20px;
    color: white;
    background-color:#8C2020;
}

.sec1{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.sec4{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sec2, .sec4{
background-color:#0D0D0D;
color: white;
line-height: 40px;
padding: 20px;
}

.bottom-msg{
    text-align: center;
    padding: 50px;
}

.bottom-msg h3{
    font-size: 1.5em;
}

.bottom-msg h4{
    padding-left: 70px;
    padding-right: 70px;
}

img.bottom-img{
    width: 20%;
}


